{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ShopShop</title>
  <link rel="stylesheet" href="{% static 'home/style_admin.css' %}">
</head>

<body>
  <a href="{% url 'market' %}" target="_parent"><img src="{% static 'home/logo.png' %}"
      style="height:100px; padding: 10px;" alt="LOGO_IMG"></a>

  <table class="search_table">
    <thead>
      <tr>
        <th scope="cols">Student ID</th>
        <th scope="cols">Password</th>
        <th scope="cols">Phone</th>
        <th scope="cols">Name</th>
        <th scope="cols">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for user in userlist %}
      <tr>
        {% if forloop.counter|divisibleby:2 %}
        <td>{{ user.userid }}</td>
        <td>{{ user.pw }}</td>
        <td> {{ user.phone }}</td>
        <td> {{ user.username }}</td>
        <td> <button type="button" onclick="window.open('{% url 'userpage' user.userid %}')">Modify</button>

        </td>
        {% else %}
        <td class="even">{{ user.userid }}</td>
        <td class="even">{{ user.pw }}</td>
        <td class="even"> {{ user.phone }}</td>
        <td class="even"> {{ user.username }}</td>
        <td class="even"> <button type="button"
            onclick="window.open('{% url 'userpage' user.userid %}')">Modify</button>
        </td>
        {% endif %}
      </tr>
      {%  endfor %}
    </tbody>
  </table>
  
  <a href="{% url 'logout' %}"><button class="logout_btn" >Logout</button></a>
</body>

</html>