<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopShop</title>
    <link rel="stylesheet" href="style_admin.css">
  </head>
  <body>
      <header class="main_header">
        <h1>ShopShop</h1>
      </header>
    <table class="table-area">
    <thead>
    <tr>
        <th scope="cols">Student ID</th>
        <th scope="cols">Password</th>
        <th scope="cols">Name</th>
        <th scope="cols">Buy/Sell</th>
        <th scope="cols">Mod/Del</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><button>Mod</button><button>Del</button></td>
    </tr>
    <tr>
        <td class="even">--</td>
        <td class="even">--</td>
        <td class="even">--</td>
        <td class="even">--</td>
        <td class="even"><button>Mod</button><button>Del</button></td>
    </tr>
    <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><button>Mod</button><button>Del</button></td>
    </tr>
    <tr>
        <td class="even">--</td>
        <td class="even">--</td>
        <td class="even">--</td>
        <td class="even">--</td>
        <td class="even"><button>Mod</button><button>Del</button></td>
    </tr>
    <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><button>Mod</button><button>Del</button></td>
    </tr>
    <tr>
        <td class="even">--</td>
        <td class="even">--</td>
        <td class="even">--</td>
        <td class="even">--</td>
        <td class="even"><button>Mod</button><button>Del</button></td>
    </tr>
    <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><button>Mod</button><button>Del</button></td>
    </tr>
    </tbody>
  </table>
  </body>
</html>
