<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopShop</title>
    <link rel="stylesheet" href="style_product.css">
  </head>
  <body>
    <table>
      <tr>
        <th>Student ID</th>
        <th>Password</th>
        <th>Name</th>
        <th>Buy/Sell</th>
        <th>Mod/Del</th>
      </tr>
      <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><button>Mod</button><button>Del</button></td>
      </tr>
      <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><button>Mod</button><button>Del</button></td>
      </tr>
      <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><button>Mod</button><button>Del</button></td>
      </tr>
      <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><button>Mod</button><button>Del</button></td>
      </tr>
    </table>
  </body>
</html>
