{% extends "home/base.html" %}

{% block content %}
    <div>
		<p>{{cid}}님의 북카트입니다</p>
		
		<div>
			<form method="POST" name="deleteBooks">
				{% csrf_token %}
				<table width="500"border="1">
					<tr> <th></th> <th>책 이름</th> <th>수량</th> <th>권당 가격</th></tr>
					{% for obj in cart %}
					<tr>
						<td>
							<input type="checkbox" name="{{obj.isbn.isbn}}">
						</td>
						<td><a href="{% url 'detail' obj.isbn.category.name obj.isbn.isbn %}">{{obj.isbn.name}}</a></td>
						<td>{{obj.num}}권</td>
						<td>{{obj.isbn.price}}원 </td>
					</tr>
					{% endfor %}
				</table>
				<p> 총액 : {{price}}원 </p>
				<input type="submit" value="체크한 항목 삭제하기">
			</form>
		</div>
	<div>
			<form method="POST" name="buy" action="{% url 'purchase' %}">
				{% csrf_token %}
				<input type="submit" value="전부 구매하기">
			</form>
	</div>
{% endblock content %}
