{% extends "home/base.html" %}

{% block content %}
{% include 'home/booksCategory.html' %}
    <div>
		<p> 책이름 : {{ book.name }} </p>
		<p> 카테고리 : {{ book.category.name }}</p>
		<p> 가격 : {{ book.price }} </p>
		<p> 저자 : {{ book.author }} </p>
	</div>
	<form method="POST" id="addCart">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="카트에 넣기">
	</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		<li> 카트로 이동 : <a href="{% url 'cart' %}">북카트</a> </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}
