{% load static %}
<html>

<head>
	<link rel="stylesheet" href="{% static 'home/style_detail.css' %}">
</head>

<body>
	<a href="{% url 'market' %}" target="_parent"><img src="{% static 'home/logo.png' %}"
			style="height:100px; padding: 10px;" alt="LOGO_IMG"></a>

	<div class="product_info">
		<table class="inf">
			<tr>
				<td class="image">
					{% if product.photo %}
					<img src="{{product.photo.url}}" style="height: 200px; width: auto; padding: 10px"></img>
					{% else %}
					<img src="{% static 'home/basic.png' %}" style="height:200px;">
					{% endif %}
				</td>
				<td>
					<p> <strong>Category: </strong>{{product.category.name}} </p>
					<p> <strong>Product Name: </strong>{{product.name}} </p>
					<p> <strong>Seller Name: </strong> {{product.seller.username}} </p>
					<p> <strong>Phone Number: </strong> {{product.seller.phone}} </p>
					<p> <strong>Expire: </strong> {{product.expire}} </p>
					<p> <strong>Current Price: </strong>{{product.current_price}} </p>
					<p> <strong>Trading Place: </strong>{{product.place}} </p>
					<p> <strong>Product Explanation: </strong>{{product.explanation}} </p>
				</td>
			</tr>
		</table>
	</div>
	{{msg}}
	<!-- 본인 물품 살수없다는 경고 메시지 표시됨-->
	<div class="form">
		<form action="" method="POST">
			{% csrf_token %}
			<button type="submit" class="btn" name="buy">BUY</button>
			<button type="submit" class="btn" name="wish">WISHLIST</button>
		</form>
	</div>
</body>

</html>