{% extends "home/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopShop</title>
    <link rel="stylesheet" href="{% static 'home/style_modifyAcc.css' %}">
  </head>
  <body>
        <nav class="left-nav">
                <a href="{% url 'market' %}" target="_parent"><img src="{% static 'home/logo.png' %}" style="height:150px;" alt="LOGO_IMG"></a>
                <ul>
                  <li><a class="upper" href="{% url 'sell' %}">Sell</a></li>
                  <li><a class="upper" href="{% url 'wishlist' %}">Wishlist</a></li>
                  <li><a class="upper"  href="{% url 'myitems' %}">My Items</a></li>
                  <li><a class="lower"  href="{% url 'market' %}">Flea Market</a></li>
                  <li><a class="lower"  href="{% url 'auction' %}">Auction</a></li>
                  <li><a class="lower"  href="{% url 'mypage' %}">My Account</a></li>
                  <li><a class="lowest" href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </nav>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">저장</button>
            </form>
       </div>
  </body>
</html>
{% endblock content %}
