{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'home/style_register.css' %}">
    <title>ShopShop</title>
	<style>
		.errorlist {
		  color: rgb(204, 23, 23);
		  list-style: none;
		  font-size: 11.5px;
		  padding: 0;
		  margin: 0 0 5% 0;
		}
	
		#is-invalid {
		  border: 1px solid rgb(255, 18, 18);
		}
	
		#is-valid {}
	  </style>
	
</head>
  <body>
	<div class="form" style="margin-top: 150px;">
		<div class="username">{{ userid }}님의 정보를 수정하거나 삭제하시겠습니까?</div>
		<form method="POST">
			{% csrf_token %}
			{% for field in form.visible_fields %}
			{% if field.errors %}
			  {{field.errors}}
			  {% render_field field id="is-invalid" %}
			{% else %}
			  {% render_field field id="is-valid" %}
			{% endif %}
			{% endfor %}

			<button type="submit" name="modify">MODIFY</button>
			<button type="submit" name="delete">DELETE</button>
		</form>
	  </div>
	
  </body>
</html>