{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopShop</title>
  </head>
  <body>
		<div >
				<div class="form">
					<form method="POST">
					{% csrf_token %}
					{% for field in form.visible_fields %}
					{% if field.errors %}
					  {{field.errors}}
					  {% render_field field id="is-invalid" %}
					{% else %}
					  {% render_field field id="is-valid" %}
					{% endif %}
					{% endfor %}
	
					<button type="submit">MODIFY</button>
				</form>
			  </div>
	  </div>
	
  </body>
</html>
