<nav class="left-nav">
        <a href="{% url 'market' %}" target="_parent"><img src="{% static 'home/logo.png' %}" style="height:150px;" alt="LOGO_IMG"></a>
        <ul>
          <li><a class="upper" href="my_page.html">My Account</a></li>
          <li><a class="upper href="my_page.html">Wishlist</a></li>
          <li><a class="upper" href="my_page.html">My Items</a></li>
          <li><a class="lower" href="product_market.html">Flea Market</a></li>
          <li><a class="lower" href="product_auction.html">Auction</a></li>
          <li><a class="lower" href="search.html">Search Product</a></li>
          <li><a class="lowest" href="search.html">Logout</a></li>
        </ul>
      </nav>
