{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(function () {
        $('.left-nav li a.upper_search').mouseenter(function () {
          $('.search-content').css('visibility', 'visible');
          $(this).css('color', 'rgb(245, 75, 148)');
          $(this).css('background', 'white');
          $(this).css('opacity', '0.8');
        });
        var select = $('.select-script select');
        select.change(function () {
          var select_name = $(this).children('option:selected').text();
          $(this).siblings("label").text(select_name);
        });
      });
    });
  </script>
  <link rel="stylesheet" href="{% static 'home/style_product_market.css' %}">
  <title>ShopShop</title>
</head>

<body>
  {% include 'home/productsCategory.html' %}
  <div class="product-page">
    <nav class="left-nav" style="font-weight: bold;position: fixed; left:20px; top:10%">
      <ul>
        <li class="search-content" style="position: relative;">
          <form method="GET" action="">
            <input type="text" name="seller" placeholder="Seller" value="{{search.seller}}">
            <input type="text" name="pname" placeholder="Name" value="{{search.pname}}">
            <input type="number" name="lower" placeholder="Lowest Price" value="{{search.lower}}">
            <input type="number" name="higher" placeholder="Highest Price" value="{{search.higher}}">
            <button type="submit" class="btn">SEARCH</button>
          </form>
        </li>
        <li><a class="upper_search" href="">Search</a></li>
        <li><a class="upper" href="{% url 'sell' %}">Sell</a></li>
        <li><a class="upper" href="{% url 'wishlist' %}">Wishlist</a></li>
        <li><a class="upper" href="{% url 'myitems' %}">My Items</a></li>
        <li><a class="lower" href="{% url 'market' %}">Flea Market</a></li>
        <li><a class="lower" href="{% url 'auction' %}">Auction</a></li>
        <li><a class="lowest" href="{% url 'mypage' %}">My Account</a></li>
        <li><a class="lowest" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>

    <table class="goods_table">
      <tr>
        <td></td>
        <td>
          <div class="select-box select-script">
            <label for="selectbox">-------</label>
            <select id="selectbox" onchange="location=this.value;" title="선택 구분">
              <option selected="selected">-------</option>
              <option class="sort-lower-price" value="?sort=lower-price&seller={{search.seller}}&name={{search.pname}}
              &lower={{search.lower}}&higher={{search.higher}}">가격낮은순</option>
              <option class="sort-higher-price" value="?sort=lower-expire&seller={{search.seller}}&name={{search.pname}}
              &lower={{search.lower}}&higher={{search.higher}}">기한적은순</option>
              <option class="sort-higher-price" value="?sort=higher-expire&seller={{search.seller}}&name={{search.pname}}
              &lower={{search.lower}}&higher={{search.higher}}">기한많은순</option>
            </select>
          </div>
        </td>
      </tr>
      {% for obj in products %}
      <tr>
        <td class="goods_img">
          {% if obj.photo %}
          <img src="{{obj.photo.url}}" style="height: 200px; width: auto; padding: 10px">
          {% else %}
          <img src="{% static 'home/basic.png' %}" style="height:200px;">
          {% endif %}
        </td>
        <td class="goods_info">
          <p class="goods_name"> {{ obj.name }} </p>
          <div class="inf">
            <p class="goods_price"> <strong> Price </strong> {{ obj.basic_price }} </p>
            <p class="seller_name"> <strong> Seller </strong> {{ obj.seller.username }} </p>
            <p class="phone_number"> <strong> Phone Number </strong> {{ obj.seller.phone}} </p>
            <p class="trading_place"> <strong> Trading Place </strong> {{ obj.place }} </p>
          </div>
          <button type="button" class="market_btn" onclick="window.open('{% url 'detail' obj.pid %}')">Detail</button>
        </td>
      </tr>
      {% endfor %}
    </table>
    <br><br><br><br>
    <footer>본 웹사이트는 SKKU Web Programming Lab에서 제공합니다. <br> copyright &copy; <a class="src_page"
        href="https://github.com/breadfly/WPproject" target="_blank">Github Page</a>. Some Rights Reserverd. <br>Thanks
      for visiting.<br>[Designed & Programmed by 강보영 김지혜 임세아]</footer>
  </div>
</body>

</html>