<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style_product.css">
    <title>ShopShop</title>
  </head>
  <body>
    <header class="main_header">
      <h1>ShopShop</h1>
        <nav class="left-nav">
          <ul>
            <li><a href="product.html">Flea Market</a></li>
            <li><a href="product_auction.html">Auction</a></li>
            <li><a href="searh.html">Search Product</a></li>
          </ul>
        </nav>
    </header>
    <div class="product-page">
      <table>
        <tr>
          <td class="goods_img">
            <span class="goods_cnt">1</span>
            <div class="goods_icon"><img src="C로 쓴 자료구조론.jpg" width=105px></div>
          </td>
          <td class="goods_info">
            <p class="goods_name"> [Name]<strong>C로 쓴 자료구조론</strong> </p>
            <p class="goods_price"> [Price] <strong>28,000 원</strong></p>
            <div class="seller_info">[Seller Name] --  [Phone number] -- </div>
            <p class="place">[Trading place] -- </p>
            <button type="button" name="button">Put wish list</button><button type="button" name="button">Buy!!</button>
          </td>
        </tr>
        <tr>
          <td class="goods_img">
            <span class="goods_cnt">2</span>
            <div class="goods_icon"><img src="C로 쓴 자료구조론.jpg" width=105px></div>
          </td>
          <td class="goods_info">
            <p class="goods_name"> [Name]<strong>C로 쓴 자료구조론</strong> </p>
            <p class="goods_price"> [Price] <strong>28,000 원</strong></p>
            <div class="seller_info">[Seller Name] --  [Phone number] -- </div>
            <p class="place">[Trading place] -- </p>
            <button type="button" name="button">Put wish list</button><button type="button" name="button">Buy!!</button>
          </td>
        </tr>

      </table>

    </div>
  </body>
</html>
