<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style_product_auction.css">
    <title>ShopShop</title>
  </head>
  <body>
    <header class="main_header">
      <h1>ShopShop</h1>
    </header>
    <div class="product-page">
      <nav class="left-nav">
        <ul>
          <li><a href="product_market.html">Flea Market</a></li>
          <li><a href="product_auction.html">Auction</a></li>
          <li><a href="search.html">Search Product</a></li>
        </ul>
      </nav>
      <table class="goods_table">
        <tr>
          <td class="goods_img">
            <div class="goods_icon"><img src="C로 쓴 자료구조론.jpg" width=200px></div>
          </td>
          <td class="goods_info">
            <p class="goods_name"> <strong>C로 쓴 자료구조론</strong> </p>
            <div class="inf">
              <p class="time"><strong>[Time remaining]</strong> -- </p>
              <p class="current_price"><strong>[Current Product Price]</strong> -- </p>
              <p class="seller_info"><strong>[Seller Name]</strong> -- </p>
              <p class="phone_num"> <strong>[Phone Num]</strong> -- </p>
              <p class="place"> <strong> [Trading place] </strong> -- </p>
            </div>
            <button type="button" class="btn" >Put Wish List</button>
            <div class="auction-area">
              <span class="auction-input">
                <input type="number" placeholder="Wish Price" class="s-input">
              </span>
              <button type="submit" name="button">Bid</button>
            </div>
          </td>
        </tr>

        <tr>
          <td class="goods_img">
            <div class="goods_icon"><img src="C로 쓴 자료구조론.jpg" width=200px></div>
          </td>
          <td class="goods_info">
            <p class="goods_name"> <strong>C로 쓴 자료구조론</strong> </p>
            <div class="inf">
              <p class="time"><strong>[Time remaining]</strong> -- </p>
              <p class="current_price"><strong>[Current Product Price]</strong> -- </p>
              <p class="seller_info"><strong>[Seller Name]</strong> -- </p>
              <p class="phone_num"> <strong>[Phone Num]</strong> -- </p>
              <p class="place"> <strong> [Trading place] </strong> -- </p>
            </div>
            <button type="button" class="btn" >Put Wish List</button>
            <div class="auction-area">
              <span class="auction-input">
                <input type="number" placeholder="Wish Price" class="s-input">
              </span>
              <button type="submit" name="button">Bid</button>
            </div>
          </td>
        </tr>

      </table>

    </div>
  </body>
</html>
