{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'home/style_product_auction.css' %}">
    <title>ShopShop</title>
  </head>
  <body>
    <header class="main_header">
      <h1>ShopShop</h1>
    </header>
    <div class="product-page">
      <nav class="left-nav">
        <ul>
          <li><a href="product_market.html">Flea Market</a></li>
          <li><a href="product_auction.html">Auction</a></li>
          <li><a href="search.html">Search Product</a></li>
        </ul>
      </nav>

      <table class="goods_table">
          {% for obj in products %}
            <tr onclick ="location.href='{% url 'detail' obj.pid %}'">
                <td class="goods_img">
                  {% if obj.photo %}
                  <img src="{{obj.photo.url}}">
                  {% endif %}
                </td>
                <td class="goods_info">
                  <p class="goods_name"> {{ obj.name }} </p>
                  <div class="inf">
                      <p class="expire"> <strong> EXPIRE </strong> {{ obj.expire }} </p>
                      <p class="current_price"> <strong> CURRENT PRICE </strong> {{ obj.current_price }} </p>
                      <p class="goods_price"> <strong> START PRICE </strong> {{ obj.basic_price }} </p>
                      <p class="seller_name"> <strong> SELLER </strong> {{ obj.seller.username }} </p>
                      <p class="phone_number"> <strong> PHONE NUMBER </strong> {{ obj.seller.phone}} </p>
                      <p class="trading_place"> <strong> TRADING PLACE </strong> {{ obj.place }} </p>
                  </div>
                  <button type="button" class="market_btn">Put wish list</button><button type="button" class="market_btn">Buy</button>
                </td>
              </tr>
            {% endfor %}
        </table>
  </div>
  </body>
</html>
