<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopShop</title>
    <link rel="stylesheet" href="style_product.css">
  </head>
  <body>
    <table>
      <tr>
        <th>Product name</th>
        <th>Current Price</th>
        <th>Wish list Person</th>
        <th>Status</th>
        <th>History</th>
      </tr>
      <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
      </tr>
      <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
      </tr>
      <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
      </tr>
      <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
      </tr>
    </table>
  </body>
</html>
