<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style_product_auction.css">
    <title>ShopShop</title>
  </head>
  <body>
    <header class="main_header">
      <h1> ShopShop</h1>
      <nav class="left-nav">
        <ul>
          <li><a href="product.html">Flea Market</a></li>
          <li><a href="product_auction.html">Auction</a></li>
          <li><a href="search.html">Search Product</a></li>
        </ul>
      </nav>
    </header>
    <div class="product-page">
      <table>
        <tr>
          <td class="goods_img">
            <span class="goods_cnt">1</span>
            <div class="goods_icon"><img src="C로 쓴 자료구조론.jpg" width=150px></div>
          </td>
          <td class="goods_info">
            <p class="goods_name"> [Name]<strong>C로 쓴 자료구조론</strong> </p>
            <p class="time">[Time remaining] -- </p>
            <p class="current_price">[Current Product Price] -- </p>
            <div class="seller_info">[Seller Name] --  [Phone number] -- </div>
            <p class="place">[Trading place] Auction </p>
            <p class="wish"><strong>Put wish list</strong></p>
            <input type="text" placeholder="bid"/><button type="button" name="button">Bid!!</button>
          </td>
        </tr>
        <tr>
          <td class="goods_img">
            <span class="goods_cnt">2</span>
            <div class="goods_icon"><img src="C로 쓴 자료구조론.jpg" width=150px></div>
          </td>
          <td class="goods_info">
            <p class="goods_name"> [Name]<strong>C로 쓴 자료구조론</strong> </p>
            <p class="time">[Time remaining] -- </p>
            <p class="current_price">[Current Product Price] -- </p>
            <div class="seller_info">[Seller Name] --  [Phone number] -- </div>
            <p class="place">[Trading place] Auction </p>
            <p class="wish"><strong>Put wish list</strong></p>
            <input type="text" placeholder="bid"/><button type="button" name="button">Bid!!</button>
          </td>
        </tr>
      </table>

    </div>
  </body>
</html>
