{%load static%}
<nav class="cate" style="background-color: white;">
	{% if pagetype == "market" %}
	<a href="{% url 'market' %}" target="_parent"><img src="{% static 'home/market_logo.PNG' %}" style="height:100px;"
			alt="LOGO_IMG"></a>
	{% elif pagetype == "auction" %}
	<a href="{% url 'auction' %}" target="_parent"><img src="{% static 'home/auction_logo.PNG' %}" style="height:100px;"
			alt="LOGO_IMG"></a>

	{% else%}
	<a href="{% url 'market' %}" target="_parent"><img src="{% static 'home/logo.png' %}" style="height:100px;"
			alt="LOGO_IMG"></a>
	{% endif %}
	{% if pagetype == "market" %}
	<a href="{% url 'market' %}">
		<p class="category">전체</p>
	</a>
	{% else %}
	<a href="{% url 'auction' %}">
		<p class="category">전체</p>
	</a>
	{% endif %}

	{% for obj in categories %}
	{% if pagetype == "market" %}
	<p class="category"><a href="{% url 'marketcategory' obj.name %}">{{obj.name}}</a></p>
	{% else %}
	<p class="category"><a href="{% url 'auctioncategory' obj.name %}">{{obj.name}}</a></p>
	{% endif %}
	{% endfor %}
</nav>
{%load static%}