{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'home/style_product_registration.css' %}">
  <title>ShopShop</title>
</head>

<body>
  <div class="product-page">
    <nav class="left-nav" style="font-weight: bold;position: fixed; left:0px; top:30%">
      <ul>
        <li><a class="upper" href="{% url 'sell' %}">Sell</a></li>
        <li><a class="upper" href="{% url 'wishlist' %}">Wishlist</a></li>
        <li><a class="upper" href="{% url 'myitems' %}">My Items</a></li>
        <li><a class="lower" href="{% url 'market' %}">Flea Market</a></li>
        <li><a class="lower" href="{% url 'auction' %}">Auction</a></li>
        <li><a class="lowest" href="{% url 'mypage' %}">My Account</a></li>
        <li><a class="lowest" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
    <div class="sell-page">
      <div class="form">
        <form method="POST" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {% for field in form.visible_fields %}
          <div class="idx">{{field.label}}</div>
          {% if field.errors %}
          {{field.errors}}
          {% render_field field id="is-invalid" %}
          {% else %}
          <div class="inf">{% render_field field id="is-valid" %}</div>
          {% endif %}
          {% endfor %}

          <button type="submit" class="btn">Regisration</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>