{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript">
      function oneCheck(a){
        var obj = document.getElementsByName("checkbox1");
        for(var i=0; i<obj.length; i++){
          if(obj[i]!=a){
            obj[i].checked=false;
          }
        }
      }
    </script>
    <link rel="stylesheet" href="{% static 'home/style_product_registration.css' %}">
    <title>ShopShop</title>
  </head>
  <body>
    <div class="product-page">
      <div class="left-nav">
        <a href="{% url 'market' %}" target="_parent"><img src="{% static 'home/logo.png' %}" style="height:150px;" alt="LOGO_IMG"></a>
        <ul>
          <li><a class="upper" href="{% url 'sell' %}">Sell</a></li>
          <li><a class="upper" href="{% url 'wishlist' %}">Wishlist</a></li>
          <li><a class="upper"  href="{% url 'myitems' %}">My Items</a></li>
          <li><a class="lower"  href="{% url 'market' %}">Flea Market</a></li>
          <li><a class="lower"  href="{% url 'auction' %}">Auction</a></li>
          <li><a class="lower"  href="{% url 'mypage' %}">My Account</a></li>
          <li><a class="lowest" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>

      <div class="inf">
        <div class="photo">
          <div class="photo-area" width="300px" height="300px">
            <img src="cap.png" alt="goods_IMG" width="300px">
          </div>
          <button type="button" class="btn">Photo Upload</button>
        </div>

        <div class="form">
          <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for field in form.visible_fields %}
            {{field.label}}
            {% if field.errors %}
              {{field.errors}}
              {% render_field field id="is-invalid" %}
            {% else %}
              {% render_field field id="is-valid" %}
            {% endif %}
              {% endfor %}
          </form>
          <button type="button" class="btn">Registration</button>
        </div>
      </div>
    </div>
  </body>
</html>
