<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopShop</title>
    <link rel="stylesheet" href="style_search.css">
  </head>
  <body>
      <header class="main_header">
        <h1>ShopShop</h1>
          <nav class="left-nav">
            <ul>
              <li><a href="product.html">Flea Market</a></li>
              <li><a href="product_auction.html">Auction</a></li>
              <li><a href="searh.html">Search Product</a></li>
            </ul>
          </nav>
      </header>
  </body>
</html>
