{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopShop</title>
    <link rel="stylesheet" href="{% static 'home/style_search.css' %}">
  </head>
  <body>
      <header class="main_header">
        <h1>ShopShop</h1>
      </header>
      <nav class="left-nav">
        <ul>
          <li><a href="product_market.html">Flea Market</a></li>
          <li><a href="product_auction.html">Auction</a></li>
          <li><a href="search.html">Search Product</a></li>
        </ul>
      </nav>
      <div class="search_area">
        <span class="search_input">
          <input type="text" name="" value="Product Name">
          <input type="number" name="" value="Min Price">~
          <input type="number" name="" value="Max Price">
        </span>
        <button type="submit" class="btn">Search</button>
      </div>

      <table class="search_table">
        <thead>
          <tr>
            <th scope="cols">Product Name</th>
            <th scope="cols">Current Price</th>
            <th scope="cols">Trading Place</th>
            <th scope="cols">Phone Number</th>
            <th scope="cols">Status</th>
            <th scope="cols">Seller Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
          <tr>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
          </tr>
          <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
          <tr>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
          </tr>
          <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
          <tr>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
            <td class="even">--</td>
          </tr>
          <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
        </tbody>
      </table>
  </body>
</html>
