{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopShop</title>
    <link rel="stylesheet" href="{% static 'home/style_product_list.css' %}">
  </head>
  <body>
    {% if request.get_full_path == "/wishlist/?page=buy" %}
      <label><input type="radio" name="chk" value="?page=wish" onchange="location = this.value;">WISHLIST</label>
      <label><input type="radio" name="chk" value="?page=buy" checked="checked" onchange="location = this.value;">BUY</label>
    {% else %}
    <label><input type="radio" name="chk" value="?page=wish" checked="checked" onchange="location = this.value;">WISHLIST</label>
    <label><input type="radio" name="chk" value="?page=buy" onchange="location = this.value;">BUY</label>
    {%  endif %}


    <header class="main_header">
          <h1>ShopShop</h1>
        </header>
    <table class="table-area">
    <thead>
    <tr>
        <th scope="cols">Type</th>
        <th scope="cols">Product name</th>
        {% if request.get_full_path == "/wishlist/?page=buy" %}
        <th scope="cols">My Price</th>
        {% endif %}
        <th scope="cols">Current Price</th>
        {% if request.get_full_path == "/wishlist/?page=buy" %}
        <th scope="cols">Status</th>
        {% endif %}
        <th scope="cols">Expiration</th>
        <th scope="cols">Seller</th>
        <th scope="cols">Phone</th>
        <th scope="cols">Trading Place</th>
    </tr>
    </thead>
    <tbody>
        {% for obj in wishlist %}
      <tr onclick="window.open('{% url 'detail' obj.pid.pid %}')">
        {% if forloop.counter|divisibleby:2 %}
        <td>
          {% if obj.pid.selltype == "A" %} Auction
          {% else %} Flea Market {% endif %}
        </td>
        <td> {{ obj.pid.name }} </td>
        {% if request.get_full_path == "/wishlist/?page=buy" %}
        <td> {{ obj.price}} </td>
        {% endif %}
        <td> {{obj.pid.current_price}} </td>
        {% if request.get_full_path == "/wishlist/?page=buy" %}
        <td>{% if product.buyer %} Sold Out
          {% elif product.expired|utc < now|utc %} Expired 
          {% else %} On Sale {% endif %}</td>
        {% endif %}
        <td> {{ obj.pid.expire }} </td>
        <td> {{ obj.pid.seller.username }} </td>
        <td> {{ obj.pid.seller.phone }} </td>
        <td> {{ obj.pid.place }} </td>
        {% else %}
        <td class=even>
            {% if obj.pid.selltype == "A" %} Auction
            {% else %} Flea Market {% endif %}  
        </td>
        <td class=even> {{ obj.pid.name }} </td>
        {% if request.get_full_path == "/wishlist/?page=buy" %}
        <td class=even> {{ obj.price}} </td>
        {% endif %}
        <td class=even> {{obj.pid.current_price}} </td>
        {% if request.get_full_path == "/wishlist/?page=buy" %}
        <td class=even>{% if product.buyer %} Sold Out
          {% elif product.expired|utc < now|utc %} Expired 
          {% else %} On Sale {% endif %}</td>
        {% endif %}
        <td class=even> {{ obj.pid.expire }} </td>
        <td class=even> {{ obj.pid.seller.username }} </td>
        <td class=even> {{ obj.pid.seller.phone }} </td>
        <td class=even> {{ obj.pid.place }} </td>
        {% endif %}
      </tr>
      {% endfor %}

    </tbody>
  </table>

  </body>
</html>
