{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopShop</title>
    <link rel="stylesheet" href="{% static 'home/style_product_list.css' %}">
  </head>
  <body>
        <header class="main_header">
          <h1>ShopShop</h1>
        </header>
    <table class="table-area">
    <thead>
    <tr>
      {% if type == "wishlist" %}
        <th scope="cols">Type</th>
        <th scope="cols">Product name</th>
        <th scope="cols">Current Price</th>
        <th scope="cols">Seller</th>
        <th scope="cols">Phone</th>
        <th scope="cols">Trading Place</th>
      {% else %}
      <th scope="cols">Product name</th>
      <th scope="cols">Current Price</th>
      <th scope="cols">Wish list Person</th>
      <th scope="cols">Status</th>
      <th scope="cols">History</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
      {% if type == "wishlist" %}
        {% for obj in wishlist %}
      <tr onclick="window.open('{% url 'detail' obj.pid.pid %}')">
        {% if forloop.counter|divisibleby:2 %}
        <td>
          {% if obj.pid.selltype == "A" %} Auction
          {% else %} Flea Market {% endif %}
        </td>
        <td> {{ obj.pid.name }} </td>
        <td> {{obj.pid.current_price}} </td>
        <td> {{ obj.pid.seller.username }} </td>
        <td> {{ obj.pid.seller.phone }} </td>
        <td> {{ obj.pid.place }} </td>
        {% else %}
        <td class=even>
            {% if obj.pid.selltype == "A" %} Auction
            {% else %} Flea Market {% endif %}  
        </td>
        <td class=even> {{ obj.pid.name }} </td>
        <td class=even> {{obj.pid.current_price}} </td>
        <td class=even> {{ obj.pid.seller.username }} </td>
        <td class=even> {{ obj.pid.seller.phone }} </td>
        <td class=even> {{ obj.pid.place }} </td>
        {% endif %}
      </tr>
      {% endfor %}

      {% else %}
      {% for obj in products %}
      <tr>
        {% if forloop.counter|divisibleby:2 %}
        <td>  {{ obj.pid.name }}  </td>
        <td> {{obj.pid.current_price}} </td>
        <td> {{ obj.pid.seller.userid }} </td>
        <td> {{ obj.pid.seller.userid }} </td>
        <td> {{ obj.pid.seller.userid }} </td>
        {% else %}
        <td class="even">  {{ obj.pid.name }}  </td>
        <td class="even"> {{obj.pid.current_price}} </td>
        <td class="even"> {{ obj.pid.seller.userid }} </td>
        <td class="even"> {{ obj.pid.seller.userid }} </td>
        <td  class="even"> {{ obj.pid.seller.userid }} </td>
        {% endif %}
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>

  </body>
</html>
