{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ShopShop</title>
  <link rel="stylesheet" href="{% static 'home/style_product_list.css' %}">
</head>

<body>
  <a href="{% url 'market' %}" target="_parent"><img src="{% static 'home/logo.png' %}"
      style="height:100px; padding: 10px; margin-left: auto; margin-right: auto; margin-bottom: 30px;"
      alt="LOGO_IMG"></a>

  {% if request.get_full_path == "/wishlist/?page=buy" %}
  <div class="chk-area">
    <label><input type="radio" class="option-input radio" name="chk" value="?page=wish"
        onchange="location = this.value;">WishList</label>
    <label><input type="radio" class="option-input radio" name="chk" value="?page=buy" checked="checked"
        onchange="location = this.value;">Buy</label>
  </div>
  {% else %}
  <div class="chk-area">
    <label><input type="radio" class="option-input radio" name="chk" value="?page=wish" checked="checked"
        onchange="location = this.value;">WishList</label>
    <label><input type="radio" class="option-input radio" Sname="chk" value="?page=buy"
        onchange="location = this.value;">Buy</label>
  </div>
  {%  endif %}
  <nav class="left-nav" style="font-weight: bold;position: fixed; left:20px; top:23%">
      <ul>
        <li><a class="upper" href="{% url 'sell' %}">Sell</a></li>
        <li><a class="upper" href="{% url 'wishlist' %}">Wishlist</a></li>
        <li><a class="upper" href="{% url 'myitems' %}">My Items</a></li>
        <li><a class="lower" href="{% url 'market' %}">Flea Market</a></li>
        <li><a class="lower" href="{% url 'auction' %}">Auction</a></li>
        <li><a class="lowest" href="{% url 'mypage' %}">My Account</a></li>
        <li><a class="lowest" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
  <table class="table-area">
    <thead>
      <tr>
        <th scope="cols">Type</th>
        <th scope="cols">Product name</th>
        {% if request.get_full_path == "/wishlist/?page=buy" %}
        <th scope="cols">My Price</th>
        {% endif %}
        <th scope="cols">Current Price</th>
        <th scope="cols">Seller</th>
        <th scope="cols">Phone</th>
        <th scope="cols">Trading Place</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in wishlist %}
      <tr onclick="window.open('{% url 'detail' obj.pid.pid %}')">
        {% if forloop.counter|divisibleby:2 %}
        <td>
          {% if obj.pid.selltype == "A" %} Auction
          {% else %} Flea Market {% endif %}
        </td>
        <td> {{ obj.pid.name }} </td>
        {% if request.get_full_path == "/wishlist/?page=buy" %}
        <td> {{ obj.price}} </td>
        {% endif %}
        <td> {{obj.pid.current_price}} </td>
        <td> {{ obj.pid.seller.username }} </td>
        <td> {{ obj.pid.seller.phone }} </td>
        <td> {{ obj.pid.place }} </td>
        {% else %}
        <td class=even>
          {% if obj.pid.selltype == "A" %} Auction
          {% else %} Flea Market {% endif %}
        </td>
        <td class=even> {{ obj.pid.name }} </td>
        {% if request.get_full_path == "/wishlist/?page=buy" %}
        <td class=even> {{ obj.price}} </td>
        {% endif %}
        <td class=even> {{obj.pid.current_price}} </td>
        <td class=even> {{ obj.pid.seller.username }} </td>
        <td class=even> {{ obj.pid.seller.phone }} </td>
        <td class=even> {{ obj.pid.place }} </td>
        {% endif %}
      </tr>
      {% endfor %}

    </tbody>
  </table>

</body>

</html>