:root{
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
body{
  font-family: "Roboto", sans-serif;
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.product-page{
  display:flex;
  flex-direction:row;
}
.left-nav{
  display:flex;
  flex-direction: column;
  padding-top:25px;
  text-align:center;
}
.left-nav img{
  padding-left:75px;
}
.left-nav ul{
  width:100%;
  display:grid;
  grid-gap:15px;
  font-size:18px;
  list-style:none;
  padding-top:80px;
}
.left-nav li a{
    color:#ffffff;
    text-decoration:none;
    display:block;
    padding:10px;
    border-radius:25px;
    background-color: #77A1D3;
}
.left-nav li a:hover{
 color: #77A1D3;
  background:white;
}

.inf{
  display:flex;
  flex-direction:row;
  margin-left:100px;
  background-color: rgba(223, 126, 126, 0.2);
  width:70%;
  margin-top:200px;
}
.photo{
  margin:100px;
}
.form{
  background:#ffffff;
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 25px;
  padding: 45px;
  text-align: left;
  color: #575453;
  width: 400px;
  height: auto;
}
.form input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.btn{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00B4DB;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.btn:hover {
  background: #0083B0;
}
