:root{
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
body{
  font-family: "Roboto", sans-serif;
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.left-nav{
  display:grid;
  float:left;
  padding-right:25px;
}

.left-nav ul{
  display:grid;
  grid-gap:15px;
  text-align:left;
  font-size:18px;
  font-weight:bold;
  list-style:none;
}
.left-nav a{
    color:#ffffff;
    text-decoration:none;
    display:block;
    padding:10px;
    border-radius:25px;
    background-color: #77A1D3;
}
.left-nav a:hover{
  background:white;
  color:#77A1D3;
}

table{
  background-color: rgba(255, 255, 255, 0.2);
  color: #575453;
  float:right;
  margin-right:25px;
  width:75%;
  min-width:450px;
  border-top:5px dotted #77A1D3;
  border-collapse:collapse;
}
td{
  border-bottom:5px dotted #77A1D3;
  padding:10px;
}
.goods_name{
  font-family: "Roboto", sans-serif;
  color: #575453;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
}
.goods_info{
  text-align:left;
  padding-left:0.5rem;
}
.btn{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00B4DB;
  width: 77%;
  border: 0;
  padding: 13px;
  color: #ffffff;
  margin: 3px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.btn:hover{
  background: #0083B0;
}

.auction-area input{
  display: inline-block;
  border: 3px solid #0083B0;
  background: white;
  padding: 10px;
  width: 43%;
  margin: 0.5rem;
  margin-left:0;
}
.auction-area button{
  margin: 0;
  border: 0;
  background: #0083B0;
  color: white;
  padding: 13px;
  font-weight: bold;
  width: 28%;
  border-radius: 1px;
  cursor: pointer;
}
.auction-area button:hover, button:active, button:focus{
  background: #00B4DB;
}
