/* Edit here */
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean');

.cate{
  padding-left: 30%;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 18px;
  position: relative;
  display: flex;
  width: auto;
  text-align: center;
}
.cate a{
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1em 0;
  padding-right: 2em;
  margin: 1em;
  color: #333;
  text-shadow: none;
}
.cate a:hover{
  color: #fff;
  opacity: 0.8;
}
.category{
  margin-top: 40px;
}
.selectbox{
}
/* Edit here */

body{
  font-family: "Roboto", sans-serif;

  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.main_header {
text-align:left;
font-size:25px;
font-family:sans-serif;
color:#77A1D3;
letter-spacing: 2px;
padding: 10px 20px 40px 30px;
-webkit-text-fill-color:transparent;
-webkit-text-stroke-width:3px;
}

.product-page{
  display: flex;
}

.left-nav{
  width:300px;
  align-content: center;
  display:flex;
  flex-direction: column;
  text-align:center;
  padding-right:20px;
}
.left-nav img{
  padding-left:75px;
}
section{
  width:100%;
}

.left-nav ul{
  width:100%;
  display:grid;
  grid-gap:15px;
  text-align:left;
  font-size:18px;
  list-style:none;
}
.left-nav li{
  text-align: center;

}
.left-nav li a{
    color:#ffffff;
    text-decoration:none;
    display:block;
    padding:10px;
    border-radius:25px;
    background-color: #77A1D3;
}
.left-nav li a:hover{
 color: #77A1D3;
    background-color: #E684AE;
  background:white;
}

table{
  background-color: rgba(255, 255, 255, 0.2);
  color: #575453;
  float:right;
  margin-right:25px;
  width:75%;
  min-width:450px;
  border-top:5px dotted #77A1D3;
  border-collapse:collapse;
}
td{
  border-bottom:5px dotted #77A1D3;
  padding:10px;
}
.goods_name{
  font-family: "Roboto", sans-serif;
  color: #575453;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
}
.goods_info{
  text-align:left;
  padding-left:0.5rem;
}
.market_btn{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00B4DB;
  width: 45%;
  border: 0;
  padding: 13px;
  color: #ffffff;
  margin: 3px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.market_btn:hover{
  background: #0083B0;
}
