@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Montserrat|Nanum+Gothic+Coding&display=swap&subset=korean');

body{
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.main_header {
text-align:left;
font-size:25px;
font-family:sans-serif;
color:#050502;
letter-spacing: 2px;
padding: 10px 20px 40px 30px;
-webkit-text-fill-color:transparent;
-webkit-text-stroke-width:3px;
}

.left-nav {
  width: auto;
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 20px;
}

.left-nav ul {
  width: 150px;
  display: grid;
  grid-gap: 15px;
  text-align: left;
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  list-style: none;
}

.left-nav li {
  text-align: center;
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.left-nav li a.upper {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 25px;
  background-color: #E684AE;
}

.left-nav li a.upper:hover {
  color: #E684AE;
  background: white;
  opacity: 0.8;
}

.left-nav li a.lower {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 25px;
  background-color: #79CBCA;
}

.left-nav li a.lower:hover {
  color: #79CBCA;
  background: white;
  opacity: 0.8;

}

.left-nav li a.lowest {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 25px;
  background-color: #77A1D3;
}

.left-nav li a.lowest:hover {
  color: #77A1D3;
  background: white;
  opacity: 0.8;
}

.sell-page {
  width: 360px;
  padding-top: 150px;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00B4DB;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #0083B0;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0083B0;
  text-decoration: none;
}
.idx {
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  text-align: left;
  padding: 5px;
  color:#575453;
  font-size: 17px;
  margin-left: 3px;
}
.btn{
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00B4DB;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.btn:hover {
  background: #0083B0;
}
@media (max-width: 870px) {
  .left-nav{
    display: none;
  }
}