@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Montserrat|Nanum+Gothic+Coding|Roboto&display=swap&subset=korean');

body{
background: white;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, white, #8CA6DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, white, #8CA6DB)no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
text-align: center;
}
.left-nav {
  width: auto;
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 20px;
}

.left-nav ul {
  width: 150px;
  display: grid;
  grid-gap: 15px;
  text-align: left;
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  list-style: none;
}

.left-nav li {
  text-align: center;
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.left-nav li a.upper {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 25px;
  background-color:#c2ddff;
}

.left-nav li a.upper:hover {
  color: #c2ddff;
  background: white;
  opacity: 0.8;
}

.left-nav li a.lower {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 25px;
  background-color: #77A1D3;
}

.left-nav li a.lower:hover {
  color: #77A1D3;
  background: white;
  opacity: 0.8;

}

.left-nav li a.lowest {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(75, 116, 167);
}

.left-nav li a.lowest:hover {
  color:rgb(75, 116, 167);
  background: white;
  opacity: 0.8;
}
.search_table{
  margin-left: 20%;
  margin-right: auto;
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  border-collapse: collapse;
  width: 70%;
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
}
.search_table thead th{
    padding: 15px;
    font-weight: bold;
    vertical-align: top;
    color: #FFFFFF;
    background: #c2ddff;
    margin: 20px 10px;
    font-size: 14px;
}
.search_table td{
  font-size:13px;
  color:#333333;
  padding:13px;
  vertical-align: top;
}

.search_input input{
  display: inline-block;
  border: 3px solid #0083B0;
  background: white;
  padding: 10px;
  width: 15%;
  margin: 0.5rem;
  margin-left:0;
}
button{
  outline: 0;
  background: rgb(162, 189, 245);
  width: auto;
  border: 0;
  border-radius: 20px;
  padding: 5px;
  color: white;
  margin: 3px;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover, button:active, button:focus{
  background-color: rgb(127, 171, 221);
  color: white;
}
table.search_table .even {
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1100px) {
  table{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    max-width: 400px;
    height: auto;
  }
  .left-nav{
    display: none;
  }
}
