@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Montserrat|Nanum+Gothic+Coding&display=swap&subset=korean');

body{
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif; 
  background: white;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, white, #ff81b6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, white, #ff81b6)no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
text-align: center;
}
.left-nav {
  width: auto;
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 20px;
}

.left-nav ul {
  width: 150px;
  display: grid;
  grid-gap: 15px;
  text-align: left;
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  list-style: none;
}

.left-nav li {
  text-align: center;
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.left-nav li a.upper {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(250, 179, 209);
}

.left-nav li a.upper:hover {
  color: rgb(250, 179, 209);
  background: white;
  opacity: 0.8;
}

.left-nav li a.lower {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 25px;
  background-color: #fd73b8;
}

.left-nav li a.lower:hover {
  color:#ff419a;
  background: white;
  opacity: 0.8;

}

.left-nav li a.lowest {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 25px;
  background-color:#ff419a;
}

.left-nav li a.lowest:hover {
  color:#ff1d87;
  background: white;
  opacity: 0.8;
}

.sell-page {
  width: 500px;
  padding-top: 150px;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.select-script{
  position:relative;
  left: 110%;
  margin: 10px;
  width:170px; 
  height:30px; 
  line-height:30px; 
  border:1px solid #606976; 
  border-radius:4px; text-transform:uppercase; 
  background:#fff;
}
.select-script label{
  position:absolute; 
  width:90%; 
  font-size:.86em; 
  color:#606976; 
  top:0; left:0; 
  padding:0 5%;
}
.select-script label:after{
  content:'▼'; 
  width:40px; 
  height:30px; 
  position:absolute; 
  top:0; right:0; 
  font-size:.76em; 
  color:#fff; 
  text-align:center; 
  background:#606976;}
.select-script select{
  width:100%; 
  height:30px; 
  opacity:0; 
  filter:alpha(opacity=0); 
  -ms-filter:alpha(opacity=0)/* IE 8 */;
}


.form button {
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(241, 62, 161);
  width: 100%;
  border: 0;
  padding: 15px;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: rgb(211, 19, 125);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0083B0;
  text-decoration: none;
}
.idx {
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  text-align: left;
  padding: 5px;
  color:#575453;
  font-size: 17px;
  margin-left: 3px;
}
.btn{
  font-family: 'Montserrat', 'Nanum Gothic Coding', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(211, 19, 125);
  width: 100%;
  border: 0;
  padding: 15px;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.btn:hover {
  background: rgb(176, 0, 117);
}
@media (max-width: 870px) {
  .left-nav{
    display: none;
  }
}