/* Edit here */

.category{

}
.selectbox{
}
/* Edit here */

:root{
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

hr{
  width:70%;
}
body{
  font-family: "Roboto", sans-serif;
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.product-page{
  display: flex;
  flex-direction:row;
}

.left-nav{
  display:flex;
  flex-direction: column;
  padding-top:25px;
}
.left-nav img{
  padding-left:75px;
}
.left-nav ul{
  width:100%;
  display:grid;
  grid-gap:15px;
  font-size:18px;
  list-style:none;
  padding-top:80px;
}
.left-nav li a{
    color:#ffffff;
    text-decoration:none;
    display:block;
    padding:10px;
    border-radius:25px;
    background-color: #77A1D3;
}
.left-nav li a:hover{
  color: #77A1D3;
  background:white;
}

table{
  background-color: rgba(255, 255, 255, 0.2);
  color: #575453;
  float:right;
  margin-right:25px;
  width:75%;
  min-width:450px;
  border-top:5px dotted #77A1D3;
  border-collapse:collapse;
}
td{
  border-bottom:5px dotted #77A1D3;
  padding:10px;
}
.goods_name{
  font-family: "Roboto", sans-serif;
  color: #575453;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
}
.goods_info{
  text-align:left;
  padding-left:0.5rem;
}
.market_btn{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00B4DB;
  width: 45%;
  border: 0;
  padding: 13px;
  color: #ffffff;
  margin: 3px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.market_btn:hover{
  background: #0083B0;
}
